* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-family: 'HKGrotesk', sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*="__container"] {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 24px;
}


.title {
  &__text-decor {
    text-transform: uppercase;
    color: #67c3d7;
    font-weight: 700;
    font-size: 16px;
    @media (max-width: 500px) {
      font-size: 12px;
    }
    &_intro {
      padding-bottom: 8px;
    }
    &_features {
      position: relative;
      padding-bottom: 12px;
      @media (max-width: 500px) {
        padding-bottom: 8px;
      }
    }
  }
  &__big-title {
    color: #263238;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    &_intro {
      font-size: 54px;
      padding-bottom: 24px;
      line-height: 65px;
      @include adaptiveClamp("font-size", 54, 28, 980, 500, 1);
      @include adaptiveClamp("line-height", 65, 34, 980, 500, 1);
      @media (max-width: 500px) {
        padding-bottom: 16px;
      }
    }
    &_features {
      position: relative;
      padding-bottom: 80px;
      @include adaptiveClamp("font-size", 64, 28, 980, 500, 1);
      @include adaptiveClamp("line-height", 77, 34, 980, 500, 1);
    }
  }
  &__text_text {
    color: #5e676b;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    @media (max-width: 500px) {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
    }
  }
}