.page__features {
  position: relative;
}
.features {
  display: flex;
  flex-direction: column;
  &__item {
  }
}
.item-title {
 // background-color: #fff;
  padding-bottom: 80px;
  @media (max-width: 767px) {
    padding-bottom: 40px;
  }
  &__container {
  }
  &__title {
    text-align: center;
    margin: 0 auto;
    max-width: 887px;
    @media (max-width: 767px) {
      width: 100%;
    }
    @media (max-width: 500px) {
      max-width: 327px;
    }
  }
}
.title {
  &__text-decor_features {
    padding-bottom: 12px;
    @media (max-width: 500px) {
      padding-bottom: 8px;
    }
  }
  &__big-title_features {
    @include adaptiveClamp("font-size", 64, 28, 980, 500, 1);
    @include adaptiveClamp("line-height", 77, 34, 980, 500, 1);
  }
}
.item {
  padding-top: 80px;
  padding-bottom: 80px;
  @media (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media (max-width: 500px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  &_modern {
    background: linear-gradient(90deg, #e8fffb 0%, #ffffff 100%);
  }
  &_simple {
    background: linear-gradient(90deg, #e5eeff 0%, #ffffff 100%);
  }
  &_smart {
    background: linear-gradient(90deg, #f7eeff 0%, #ffffff 100%);
  }
  &__container {
    display: flex;
    @media (max-width: 980px) {
      flex-direction: column;
    }
    &_simple {
      @media (max-width: 980px) {
        flex-direction: column-reverse;
      }
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    padding-top: 92px;
    max-width: 100%;
    padding-left: 72px;
    @media (max-width: 980px) {
      padding-top: 24px;
      align-items: center;
      padding-left: 0;
    }
    @media (max-width: 767px) {
      justify-content: flex-start;
      align-items: flex-start;
    }
    &_simple {
      padding-left: 0;
      padding-right: 72px;
      @media (max-width: 980px) {
        padding-right: 0;
      }
    }
  }
  &__text-type {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    & svg {
      width: 48px;
      height: 48px;
      @media (max-width: 500px) {
        width: 40px;
        height: 40px;
      }
    }
  }
  &__text-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__text-article {
    font-weight: 700;
    font-size: 20px;
    color: #101859;
    padding-left: 12px;
    text-transform: uppercase;
    @media (max-width: 500px) {
      font-size: 16px;
    }
  }
  &__text-title {
    font-weight: 700;
    font-size: 32px;
    padding-bottom: 20px;
    @media (max-width: 980px) {
      padding-bottom: 24px;
    }
    @media (max-width: 500px) {
      font-size: 24px;
    }
  }
  &__text-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #5e676b;
    @media (max-width: 980px) {
      text-align: center;
    }
    @media (max-width: 767px) {
      text-align: start;
    }
    @media (max-width: 500px) {
      font-size: 14px;
      line-height: 21px;
    }
  }
  p {
    padding-bottom: 20px;
    @media (max-width: 767px) {
      padding-bottom: 12px;
    }
  }
  p:last-child {
    padding-bottom: 0;
  }

  &__image {
    position: relative;
    @media (max-width: 980px) {
      padding-bottom: 24px;
      padding-right: 24px;
      padding-left: 24px;
    }
    @media (max-width: 767px) {
      padding-right: 0;
      padding-left: 0;
    }
    &_big {
      position: relative;
      width: 521px;
      height: 536px;
      overflow: hidden;
      @include adaptiveClamp("width", 521, 400, 1200, 1000, 1);
      @include adaptiveClamp("height", 536, 415, 1200, 1000, 1);
      @media (max-width: 980px) {
        width: 100%;
        @include adaptiveClamp("height", 1000, 336, 980, 375, 1);
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
      }
    }
    &_label {
      position: absolute;
      bottom: prc(-36, 521);
      right: prc(-36, 521);
      width: 311px;
      height: 195px;
      @include adaptiveClamp("width", 311, 250, 1200, 1000, 1);
      @include adaptiveClamp("height", 195, 150, 1200, 1000, 1);
      box-shadow: 2px 0px 12px hsla(0, 0%, 0%, 0.16), 0px 2px 4px hsla(0, 0%, 0%, 0.8);
      @media (max-width: 980px) {
        bottom: prc(-12, 886);
        right: prc(-12, 886);
      }
      @media (max-width: 767px) {
        width: 100%;
        @include adaptiveClamp("width", 311, 182, 767, 450, 1);
        @include adaptiveClamp("height", 195, 113, 767, 450, 1);
        @include adaptiveClamp("width", 182, 0, 450, 0, 1);
        @include adaptiveClamp("height", 113, 0, 450, 0, 1);
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
      }
    }
    &_label-smart {
      bottom: prc(-36, 521);
      right: prc(-24, 521);
      width: 310px;
      height: 235px;
      @include adaptiveClamp("width", 310, 250, 1200, 1000, 1);
      @include adaptiveClamp("height", 235, 175, 1200, 1000, 1);
      @media (max-width: 980px) {
        bottom: prc(-12, 886);
        right: prc(-12, 886);
      }
      @media (max-width: 767px) {
        width: 100%;
        @include adaptiveClamp("width", 310, 230, 767, 450, 1);
        @include adaptiveClamp("height", 235, 155, 767, 450, 1);
        @include adaptiveClamp("width", 230, 0, 450, 0, 1);
        @include adaptiveClamp("height", 155, 0, 450, 0, 1);
      }
    }
    /*&_label-simple {
      position: absolute;
      bottom: prc(-36, 521);
      left: prc(-36, 521);
      width: 264px;
      height: 197px;
      @include adaptiveClamp("width", 264, 214, 1200, 1000, 1);
      @include adaptiveClamp("height", 197, 150, 1200, 1000, 1);
      @media (max-width: 980px) {
        bottom: prc(-12, 886);
        left: prc(-12, 886);
      }
      @media (max-width: 767px) {
        width: 100%;
        @include adaptiveClamp("width", 264, 200, 767, 450, 1);
        @include adaptiveClamp("height", 197, 133, 767, 450, 1);
        @include adaptiveClamp("width", 200, 0, 450, 0, 1);
        @include adaptiveClamp("height", 133, 0, 450, 0, 1);
      }
    }*/
  }
  &__image-simple {
    padding-left: 36px;
    padding-bottom: 36px;
    @media (max-width: 767px) {
      padding-left: 12px;
      padding-bottom: 12px;
    }
  }
  &__immage_big-simple {
    max-width: 521px;
    height: 536px;
    width: 100%;
    @media (max-width: 980px) {
      max-width: 100%;
      @include adaptiveClamp("height", 536, 336, 768, 320, 1);
    }
  }
  &__image_label-simple {
    @include adaptiveClamp("width", 264, 182);
    @include adaptiveClamp("height", 197, 135);
    left: 0;
    bottom: 0;
    right: none;
    position: absolute;
    object-fit: cover;
  }
}
