.page__quotes {
  padding-bottom: 100px;
  padding-top: 100px;
  @media (max-width: 768px) {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  background-color: #ffffff;
}
.quotes {
  &__container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 28px;
    @media (max-width: 767px) {
      gap: 16px;
    }
  }
  &__block {
    display: flex;
    position: relative;
    border: 1px solid #d9dbdf;
    border-radius: 4px;
    padding: 24px 20px;
    width: 100%;
    height: 100%;
    @media (max-width: 1160px) {
      padding: 14px 10px;
    }
    @media (max-width: 600px) {
      width: 100%;
    }
  }
  &__text {
  }
  &__icon {
    display: block;
    position: absolute;
    bottom: prc(18, 381);
    right: prc(13, 381);
    & svg {
      @media (max-width: 350px) {
        width: 30px;
        height: 30px;
      }
    }
  }
}
.text {
  display: flex;
  flex-direction: column;
  max-width: 269px;
  padding-left: 12px;
  @media (max-width: 980px) {
    width: 100%;
  }
  &__quote {
    color: #5e676b;
    font-weight: 400;
    padding-bottom: 10px;
    line-height: 22px;
    @media (max-width: 500px) {
      line-height: 20px;
      font-size: 14px;
      padding-bottom: 12px;
    }
  }
  &__doctor {
    font-weight: 500;
    color: #101859;
    padding-bottom: 4px;
    @media (max-width: 500px) {
      font-size: 14px;
    }
  }
  &__clinic {
    font-size: 14px;
    font-weight: 400;
    color: #9192a1;
    @media (max-width: 500px) {
      font-size: 12px;
    }
  }
}
