@use "sass:math";
@import "base";
@import "header/header";
@import "header/menu";
@import "header/burger";
@import "config/fonts";
@import "config/functions";
@import "config/variables";
@import "config/mixins";
@import "promo";
@import "quotes";
@import "intro";
@import "features";
@import "careers/careers";

.page {
  background: linear-gradient(180deg, #e4f5f2 0%, #ffffff 61.81%);
  flex: 1 1 auto;
  [data-observ] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
  }
  &__promo {
  }
}

