@use "sass:math";
@import "base";
@import "header/header";
@import "header/menu";
@import "header/burger";
@import "config/fonts";
@import "config/functions";
@import "config/variables";
@import "config/mixins";
@import "promo";
@import "quotes";
@import "intro";
@import "careers/careers";

.page {
  background: linear-gradient(180deg, #e4f5f2 0%, #ffffff 61.81%);
  flex: 1 1 auto;
  [data-observ] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
  }
  &__promo {
  }
}
.page__features {
  background: linear-gradient(90deg, #e8fffb 0%, #ffffff 100%);
  position: relative;
  
}
.features {
  &__container {
    display: flex;
    flex-direction: column;
    
  }
  &__title {
    text-align: center;
    margin: 0 auto;
    max-width: 887px;
    @media (max-width: 767px) {
      width: 100%;
    }
    @media (max-width: 500px) {
      max-width: 327px;
      padding-bottom: 40px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 265px;
      background: #ffffff;
      z-index: -1;
    }
  }
  &__chapters {
  }
}
.title {
  &__neem {
    position: relative;
    padding-bottom: 12px;
    @media (max-width: 500px) {
      padding-bottom: 8px;
    }
  }
  h2 {
    position: relative;
    font-size: 64px;
    line-height: 77px;
    padding-bottom: 80px;
    @include adaptiveClamp("font-size", 64, 28, 980, 500, 1);
    @include adaptiveClamp("line-height", 77, 34, 980, 500, 1);
  }
}
.chapter {
  &__block_one {
  }
  &__block {
    padding-top: 80px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
  }
  &__text {
    padding-top: 92px;
    max-width: 607px;
    &_type {
      //justify-content: center;
      align-items: center;
      padding-bottom: 24px;
      & svg {
        align-items: center;
      }
    }
    &_title {
      font-weight: 700;
      font-size: 32px;
      padding-bottom: 20px;
    }
    &_text {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #5e676b;
    }
    &_text > p {
      padding-bottom: 20px;
    }
  }
}

.type {
  font-weight: 700;
  font-size: 20px;
  color: #101859;
  padding-left: 12px;
  align-items: center;
}

.chapter__image {
  position: relative;
  
}
.chapter__image_big {
  
  width: 521px;
  height: 536px;
  overflow: hidden;
  width: 100%;
  @include adaptiveClamp ("width", 521, 400, 1440, 980,1);
  @include adaptiveClamp ("height", 536, 415, 1440, 980,1);
  img {
    width: 100%;
    height: 100%;
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    object-fit: cover;
  }*/
}
}